body {
	font-family: 'Open Sans', sans-serif;
	background: url(../img/background.png) repeat;
	padding: 0;
	margin: 0;
}
html {
	padding: 0;
	margin: 0;
}
@font-face {
  font-family: 'fontello';
  src: url("../files/fonts/fontello.eot?4839398");
  src: url("../files/fonts/fontello.eot?4839398#iefix") format('embedded-opentype'), url("../files/fonts/fontello.woff?4839398") format('woff'), url("../files/fonts/fontello.ttf?4839398") format('truetype'), url("../files/fonts/fontello.svg?4839398#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: 100;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
#logo {
	display: block;
	text-indent: -9999px;
	height: 260px;
	width: 722px;
	position: absolute;
	background: url(../img/dont-tax-logo.png) center 0px no-repeat;
	top: 50px;
	-moz-animation-name: fadein;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .75s;

    -webkit-animation-name: fadein;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .75s;
}
@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.icon-star-1:before { content: '\e800'; } /* '' */
.icon-article-alt:before { 
	content: '\e735'; 
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	width: 40px;
	font-size: 23px;
	line-height: 48px;
} /* '' */ 
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-quote:before { 
	content: '\e054'; 
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	width: 40px;
	font-size: 18px;
} /* '' */
.icon-reply-1:before { content: '\e712'; } /* '' */
.icon-retweet:before { content: '\e717';
 } /* '' */
 .ficon-facetime-video {
 	display: block;
width: 48px !important;
text-align: center;
font-size: 18px;
line-height: 48px;
 }
#container {
	width: 940px;
	margin: 0 auto;
}
.form-wrap h2 {
	color: white;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	margin: -82px 0 0 68px;
	position: relative;
}
.form-wrap h2:before {
	content: '\270e';
	display: block;
	height: 144px;
	width: 49px;
	background: url(../img/arrow-down.png) no-repeat;
	position: absolute;
	top: -75px;
	left: -68px;
	line-height: 218px;
	text-align: center;
	font-size: 20px;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-weight: 100;
	 -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .5s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;
}
@-moz-keyframes dropHeader {
     0% {
        top: -635px;
    }
    100% {
        top: -75px;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        top: -635px;
    }
    100% {
        top: -75px;
    }
}
.form-wrap h4 {
	font-size: 21px;
	font-style: italic;
	font-weight: 400;
	color: white;
	margin: 0 0 10px 68px;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
}
.form-wrap h5 strong {
	font-weight: 600;
}
.form-wrap h5 {
	color: white;
	font-style: italic;
	font-weight: 400;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-size: 18px;
	margin: 10px 0 0 68px;
	clear: both;
}
.form-wrap h5 a {
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
.inner {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
header {
	height: 650px;
	background: url(../img/header-with-cables.jpg) no-repeat top center #161616;
	background: url(../img/header-with-cables.jpg) no-repeat top center, url(../img/tax-header-bg.png) repeat;
	position: relative;
	margin-bottom: 20px;
}
header p {
	display: block;
	text-align: right;
	color: #cfcfcf;
	font-weight: 500;
	font-style: italic;
	text-align: right;
	margin: 0;
	width: 700px;
	padding-top: 330px;
	-moz-animation-name: slidein;
    -moz-animation-iteration-count: once;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .5s;
    position: absolute;
    -webkit-animation-name: slidein;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;
}
@-moz-keyframes slidein {
    0% {
     left: -9999px;
    }
    100% {
     left: 0px;
    }
}
@-webkit-keyframes slidein {
    0% {
     left: -9999px;
    }
    100% {
     left: 0px;
    }
}
header > .inner {
	padding: 0px 185px 0 110px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.form-wrap {
	position: absolute;
	top: 512px;
	width: 100%;
	height: 90px;
	background: #ec5d30;
	padding-top: 50px;
}
.form-wrap form {
}
.placeholder {
	color: #999;
}
input[type="submit"] {
	width: 165px;
	outline: none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1px solid white;
	background: url(../img/submit-button.png) right top no-repeat;
	color: white;
	position: relative;
	z-index: 1;
	height: 38px;
	outline: none;
	margin-right: 0px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 16px;
}
.ie7 input[type="submit"] {
	border: none;
}
input {
	width: 175px;
	height: 38px;
	padding: 0 0 0 8px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	line-height: 38px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	color: #000;
}
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #999;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #999;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #999;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #999;
}

.input-wrap {
	float: left;
}
#success-message {
	color: #29494A;
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
}
.ie7 input {
	margin-right: 5px;
}
.parsley-error-list {
	list-style: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
}
.parsley-error-list li {
	font-size: 12px;
	color: #9c0014;
}
.parsley-error {
	background: #ffc8cf;
	margin-bottom: 0px;
	
}
input.error {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border: 1px solid #9e0b0f;
	margin-bottom: 2px;	
}
.error-message {
	color: #9e0b0f;
	font-size: 12px;
}
label {
	display: none;
}
#tiles {
	list-style-type: none;
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;
}
#tiles li {
	width: 220px;
	display: none; /** Hide items initially to avoid a flicker effect **/
}
#tiles li.quote blockquote {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	background: #29494e;
	color: #e05931;
	font-size: 29px;
	line-height: 95%;
	padding: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0px;
}
#tiles li.quote:after {
	content: '';
	display: block;
	height: 20px;
	width: 20px;
	margin-left: 180px;
	background: url(../img/quote-arrow.png) no-repeat;
}
#tiles li.quote p {
	text-align: right;
	color: #99c9d0;
	background: #29494e;
	font-weight: 300;
	margin: 0px;
	padding: 0px 20px 20px 0;
}
#tiles li.news h3,
#tiles li.news p,
#tiles li.news a.read-more,
#tiles li.video h3,
#tiles li.video p {
	background: white;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}
#tiles li.news a.read-more {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	text-decoration: none;
	color: #e05931;
	text-transform: uppercase;
}
#tiles li.news p,
#tiles li.video p {
	color: #6eaab3;
	font-weight: 300;
	line-height: 150%;
	font-size: 13px;
}
#tiles li.news img {
	max-width: 220px;
}
#tiles li.news p a {
	color: #bbbbbb;
	font-weight: 600;
	text-decoration: none;
}
#tiles li.news h3,
#tiles li.video h3 {
	padding-top: 10px;
	font-weight: 400;
	font-style: italic;
	color: #ec5e34;
	font-size: 16px;
	padding-bottom: 10px;
}
#tiles li.video img {
	width: 100%;
}
#tiles li.video a {
	position: relative;
	display: block;
	text-decoration: none;
}
#tiles li.video .ficon-play {
	position: absolute;
	color: white;
	top: 30%;
	left: 80px;
	z-ind: 10;
	display: none;
	font-size: 30px;
	height: 50px;
	width: 45px;
	padding-left: 5px;
	background: rgba(0,0,0,.9);
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 50px;
	line-height: 50px;
	text-align: center;
	text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-moz-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-webkit-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
	-ms-text-shadow: 0px 2px 3px rgba(0,0,0,.9);
}
#tiles li.video a:hover .ficon-play {
	display:block;
}
#tiles li.video a:hover .ficon-play:hover {
	color:#ec5e34;
}
#tiles li img {
	display: block;
}
#tiles li.video p {
	padding-bottom: 20px;
}
#main {
	width: 700px;
	float: left;
	min-height: 1000px;
	padding: 0px 0 100px 0;
	position: relative;
}
.subpage #main {
	background: white;
}
.subpage #main .image-wrap {
	max-height: 315px;
	overflow: hidden;
}
.subpage #main .image-wrap img {
	min-width: 100%;
}
.subpage #main .inner {
	padding: 20px 40px 40px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.subpage #main .inner h1 {
	font-weight: 300;
	color: #29494E;
	font-size: 50px;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 5px;
}
.subpage #main .inner ul.meta-data {
	list-style: none;
	margin: 0px 0 15px 0;
	padding: 0;
}
.subpage #main .inner ul.meta-data li {
	display: inline-block;
	margin-right: 10px;
	border-right: 1px solid #bbb;
	padding-right: 10px;
}
 .subpage #main .inner ul.meta-data li:last-child {
	 border-right: none;
 }
.subpage #main .inner ul.meta-data li h5 {
	margin: 0;
}
ul.meta-data li.source a {
	color: #bbbbbb;
	text-decoration: none;
}
ul.meta-data li.author {
	font-weight: 400;
	font-style: italic;
	color: #EC5D30;
}
ul.meta-data li.date {
	color: #464646;
}
#tiles li h5 {
	background: url(../img/orange-header.png) right top no-repeat;
	display: block;
	color: white;
	height: 48px;
	padding: 0px;
	margin: 0px;
	line-height: 48px;
	font-size: 12px;
	text-transform: uppercase;
}
#tiles li h5 span {
	display: block;
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 12px;
}
.ie7 #tiles li h5 span {
	font-size: 20px;
	line-height: 48px;
	text-align: center;
}
#tiles li h5 span {
	background: url(../img/blue-horizontal.png) 0px 0px repeat;
}
#tiles li.news h5 span {
	background-position: 0px -48px;
}
#tiles li p {
	color: #666;
	font-size: 12px;
}
#tiles ali:nth-child(3n) {
	height: 175px;
}
#tiles ali:nth-child(4n-3) {
	padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
	height: 250px;
}

aside {
	width: 220px;
	float: left;
	margin-left: 20px;
}
aside h3 {
	color: #29494e;
	font-style: italic;
	font-weight: 300;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-size: 30px;
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 15px;
	margin: 0 0 15px 0;
}
#main h2 {
	color: #29494e;
	font-style: italic;
	font-weight: 300;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-size: 30px;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}
/* JSTWITTER */
#jstwitter {
    position: relative;
    font-size: 12px;
}
#jstwitter .item {
    overflow:hidden;
}
#jstwitter .tweet-wrapper {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    line-height:16px;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#jstwitter .item a {
    text-decoration: none;
    color: #46919c;
}
#jstwitter .item img {
    width:100%;
}
#jstwitter .name {
	font-weight: 700;
	color: #ec5e34;
	display: block;
}
#jstwitter .item .text {
    display:block;
    padding-top: 8px;
    font-weight: 600;
}
#jstwitter .item .time, #jstwitter .tweet .user {
    color: #29494e;    
}
#jstwitter .item .time {
	display: block;
	margin-bottom: 5px;
}
#jstwitter .profile-pic {
	max-width: 27px;
	max-height: 27px;
	float: left;
	margin-right: 8px;
}
#tweet-template {
	display: none;
	visibility: hidden;
}
#tweet-template img {
	visibility: hidden;
}
#jstwitter .reply,
#jstwitter .retweet,
#jstwitter .favorite {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
	margin-right: 8px;
}
.ie7 [class^="icon-"],
.ie7 [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
/* fix buttons height */
  line-height: 1em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
}
.ie7 .icon-star-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.ie7 .icon-quote { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe054;&nbsp;'); }
.ie7 .icon-reply-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe712;&nbsp;'); }
.ie7 .icon-retweet { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe717;&nbsp;'); }
.ie7 .icon-article-alt { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe735;&nbsp;'); }

.social-links {
	position: absolute;
	top: 0px;
	right: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-links li {
	float: left;
	margin-left: 1px;
}
.social-links li a {
	display: block;
	height: 43px;
	width: 105px;
	background: url(../img/share-buttons.png) left top no-repeat;
	color: #303537;
	text-decoration: none;
	text-align: center;
	line-height: 43px;
	text-transform: uppercase;
}
#tiles li {
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
}
footer {
	clear:both;
	background: url(../img/orange-bg.png) repeat;
	height: 165px;
}
footer ul {
	width: 940px;
	margin: 0 auto;
	list-style: none;
	height: 100px;
	padding: 40px 0 0px 0;
}
footer ul li {
	float: left;
	display: block;
	height: 100px;
	width: 115px;
	margin-right: 10px;
}
footer ul li a {
	display: block;
	height: 100px;
	text-indent: -9999px;
	background: url(../img/footer-logos-sprite.png) 0px 0px no-repeat; 
}
footer ul li.atr {
	width: 151px;
}
footer ul li.atr a {
	background-position: -803px 1px;
}
footer ul li.campaign {
	width:86px;
}
footer ul li.campaign a {
	background-position: -515px 1px;
}
footer ul li.cei {
	width:77px;
}
footer ul li.cei a {
	background-position: -615px 1px;
}
footer ul li.freedom {
	width:137px;
}
footer ul li.freedom a {
	background-position: -366px 1px;
}
footer ul li.heartland {
	width:100px;
}
footer ul li.heartland a {
	background-position: -252px 1px;
}
footer ul li.ipi {
	width:89px;
}
footer ul li.ipi a {
	background-position: -709px 1px;
}
footer ul li.ntu {
	width:137px;
}
footer ul li.ntu a {
	background-position: -94px 1px;
}
footer ul li.rstreet {
	width:80px;
}
footer ul li.rstreet a {
	background-position: 7px 1px;
}
footer {
	position: relative;
}
footer a.privacy {
	position: absolute;
	top: -20px;
	right: 20px;
	color: #919191;
	font-size: 12px;
	text-decoration: none;
	font-weight: 300;
}
@media only screen 
and (max-width : 940px) {
	.inner {
		width: 700px;
	}
	#main h2,
	aside h3  {
		font-size: 25px;
	}
	#logo {
		background-size: 700px;
		width: 700px; 
		top: 20px;
	}
	#container {
		width: 700px;
	}
	header {
		height: 752px;
	}
	#main {
		width: 460px;
	}
	input {
		margin-bottom: 10px;
		width: 157px;
	}
	input.error {
		width: 165px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	input.firstname {
		float: left;
	}
	input.lastname {
		float: left;
	}
	input.email {
		float: left;
	}
	input.zip {
		float: left;
	}
	.form-wrap {
		padding-top: 25px;
		height: 215px;
	}
	.form-wrap form {
		margin-top: 20px;
	}
	input[type="submit"] {
		margin: 0px auto;
		display: block;
		float: none;
		top: 10px;
	}
	.input-wrap {
		height: 48px;
	}
	form:after {
		content:"";
		right: 267px;
		top: 165px;
	}
	header > .inner {
		padding: 310px 65px 0 0px;
	}
	header p {
	width: 600px;
	padding-top: 0px;
	}
	.form-wrap .inner {
		width: 700px;
	}
	.form-wrap h2 {
		margin-left: 83px;
		margin-top: -57px;
	}
	.form-wrap h4 {
		margin-left: 83px;
	}
	.form-wrap h5 {
		margin-left: 0px;
		clear: both;
		margin-top: 20px;
	}
	.form-wrap h2:before {
		top: -45px;
		left: -84px;
	}
	footer {
		height: 245px;
	}
	footer ul {
		width: 574px;
	}
	footer ul li {
		margin-right: 40px;
	}
	footer ul li:nth-child(4) {
		margin-right: 0px;
	}
	footer ul li:last-child {
		margin-right: 0px;
	}
	.parsley-error-list {
		top: 157px;
	}
}
@media only screen 
and (max-width : 700px) {
	.inner {
		width: 460px;
	}
	#logo {
		width: 538px;
		background-size: 538px; 
	}
	#main h2,
	aside h3  {
		font-size: 23px;
	}
	aside h3 {
		margin-top: 32px;
	}
	#container {
		width: 460px;
	}
	#main {
		width: 220px;
	}
	input {
		width: 207px;
	}
	.input-wrap {
		margin-bottom: 10px;
	}
	.parsley-error-list {
		position: relative;
		top: 0px;
	}
	input.error {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		width: 215px;
	}
	header {
		height: 688px;
		background-size: 940px auto;
	}
	header p {
		font-size: 13px;
		padding-top: 20px;
		width: 468px;
	}
	.form-wrap {
		top: 373px;
	}
	form:after {
		content:"";
		right: 0px;
		top: 25px;
	}
	header > .inner {
		width: 538px;
		padding: 210px 65px 0 0px;
	} 
	.form-wrap {
		height: 290px;
	}
	.form-wrap .inner {
		width: 450px;
		padding-left: 10px;
	}
	input[type="submit"] {
		margin: 0px auto;
	
	}
	form:after {
		content:"";
		right: 10px;
		top: 213px;
	} 
	.form-wrap h2:before {
		top: -35px;
	}
	footer ul {
		width: 515px;
	}
	footer ul li {
		margin-right: 20px;
	}
	#main {
		padding-bottom: 90px;
	}
	
}
@media only screen 
and (max-width : 538px) {
	.inner {
		width: 320px;
	}
	#container {
		width: 320px;
	}
	#logo {
		width: 100%;
		background-size: 310px;
	}
	.form-wrap {
		height: 460px
	}
	
	header > .inner {
		width: 320px;
		padding: 125px 0px 0 0px;
	}
	header {
		height: 780px;
		background-size: 500px auto;
	}
	header p {
		width: 290px;
		padding-top: 30px;
		margin-left: 10px;
	}
	.form-wrap .inner {
		width: 320px;
		padding-left: 0px;
	}
	#tiles li.news img {
	max-width: 300px;
}
	aside,
	#main {
		float: none;
	}
	.form-wrap h2 {
		font-size: 22px;
		margin-top: -49px;
		margin-left: 60px;
	}
	.form-wrap h2:before {
		left: -60px;
	}
	.form-wrap h4 {
		margin-left: 60px;
	}
	.form-wrap h5 {
		width: 300px;
		padding: 0 10px 0 10px;
	}
	.form-wrap form {
		margin: 0 auto;
		width: 300px;
	}
	.form-wrap form:after {
		top: 316px;
		right: 10px;
	}
	.form-wrap form input {
		width: 292px;
	}
	.form-wrap form input[type="submit"] {
		margin: 0px 0 0 0;
		width: 180px;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	#tiles li {
		width: 300px;
		margin-left: 10px;
    left: 0px!important;
	}
	#tiles li img {
		width: 300px;
	}
	#tiles li h5 {
		width: 100%;
	}
	aside div.item {
		width: 300px;
		
	}
	aside {
		width: 300px;
		margin-left: 10px;
	}
	footer {
		height: 500px;
	}
	footer ul {
		width: 260px;
	}
	footer ul li {
		margin-right: 10px;
	}
}

.subpage #main {
	width: 940px;
}

/*
 * States Subpage
 */

.states header{
	background: url(../img/header-states.png) no-repeat top center #161616;
	background-size: cover;
}

.states .social-links li a{
	background: url(../img/share-buttons-states.png) left top no-repeat;
}

.states .inner{
	padding: 0px;
}

.states .header-img{
	width: 100%;
	margin-top: 90px;
}

.states .form-wrap{
	background: transparent;
}


.states .state-content{
	position: relative;
	margin-top: 50px;
	padding: 20px;
	background-color: #fff;
}

.states .state-content h3{
margin: 0 0 20px;
font-weight: 400;
font-style: italic;
color: #ea202c;
font-size: 62px;
line-height: 1.2em;
}

.states .state-content p{
	font-weight: 600;
	font-size: 16px;
	color: #6eaab3;
}

.states .state-content ul{
	padding-left: 0px;
	list-style-type: none;
	font-weight: 600;
	font-size: 16px;
	color: #bbb;
}

.states h5{
position: absolute;
	top: -30px;
	left: 0px;
width: 100%;
background: url(../img/red-header.png) right top no-repeat;

color: #fff;
height: 48px;
padding: 0px;
margin: 0px;
line-height: 48px;
font-size: 12px;
text-transform: uppercase;
}

.states h5 span {
	background-position: 0px -48px;
background: url(../img/blue-horizontal.png) 0px 0px repeat;
display: block;
width: 48px;
height: 48px;
float: left;
margin-right: 12px;
}

.states .sidebar-logos{
	margin-top: 60px;
}

.states .sidebar-logos img{
	display: block;
	margin: 0 auto 20px;

}

.states aside h3{
	text-align: center;
}



.states footer{
	background: #ea202c;
}


@media only screen 
and (max-width : 940px) {

.states .state-content h3{
	font-size: 30px;
}

}

@media only screen 
and (max-width : 538px) {
	
	#main{
		width: 320px;
		padding-bottom: 0px;
	}

	aside{
		margin: 0 0 50px 0;
		text-align: center;
	}

	footer{
		height: 245px;
	}

}

/*Bootstrap Select List Styles*/

.btn > .caret,
.dropup > .btn > .caret {
  border-top-color: #fff !important; }

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.btn:hover, .btn:focus {
  color: #333333;
  text-decoration: none; }
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.btn-default {
  color: #333333;
  background-color: white;
  border-color: #cccccc; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: #cccccc; }
  .btn-default .badge {
    color: white;
    background-color: #333333; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: whitesmoke; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  background-color: #428bca; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #999999; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #999999; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: ""; }
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    float: left; }
    .btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
    .btn-group-vertical > .btn:hover,
    .btn-group-vertical > .btn:focus,
    .btn-group-vertical > .btn:active,
    .btn-group-vertical > .btn.active {
      z-index: 2; }
    .btn-group > .btn:focus,
    .btn-group-vertical > .btn:focus {
      outline: 0; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px; }

.btn-toolbar {
  margin-left: -5px; }
  .btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table; }
  .btn-toolbar:after {
    clear: both; }
  .btn-toolbar .btn-group,
  .btn-toolbar .input-group {
    float: left; }
  .btn-toolbar > .btn,
  .btn-toolbar > .btn-group,
  .btn-toolbar > .input-group {
    margin-left: 5px; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.btn-group > .btn:first-child {
  margin-left: 0; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group > .btn-group {
  float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0; }

.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px; }

.btn-group > .btn-lg + .dropdown-toggle, .btn-group-lg.btn-group > .btn + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px; }

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-group.open .dropdown-toggle.btn-link {
    box-shadow: none; }

.btn .caret {
  margin-left: 0; }

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.btn-select-text{
	width: 180px;
	border: 1px solid #dee9ec;
	background-color: #dee9ec;
	color: #8c8c8c;
}

.btn-select-text:hover,
.btn-select-text:active,
.btn-select-text:focus{
	background-color: #dee9ec;
	border: 1px solid #dee9ec;
	box-shadow: none;
	color: #8c8c8c;
}

.dropdown-toggle,
.dropdown-toggle:active,
.dropdown-toggle:focus{
	background-color: #254246;
}

.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle {
	background-color: #ea202c;
	box-shadow: none;
}

.dropdown-menu a{
	text-decoration: none;
}

.dropdown-menu > li > a:hover{
	background-color: #ea202c;
	color: #fff;
}

#main .pagination-container {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	width: 100%;
}

#main .pagination {
	text-align: center;	
}

#main .pagination ul {
	display: inline-block;
	padding-left: 0;
	list-style: none;
}

#main .pagination li {
	float: left;
	margin: 0 5px;
}

#main .pagination li.active {
	font-weight: bold;
}

#main .pagination li a {
	text-decoration: none;
	color: #e05931;
	text-transform: uppercase;
}
